
argon2-cffi
async-generator
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach        
bqplot                    
cached-property           
certifi                   
cffi                         
colorama                     
cycler                       
decorator                    
defusedxml                   
entrypoints                  
frozendict                   
genanki                      
importlib-metadata           
ipykernel                    
ipython                      
ipython-genutils             
ipywidgets                   
jedi                         
Jinja2                       
jsonschema                   
jupyter-client               
jupyter-core                 
jupyterlab-pygments          
jupyterlab-widgets           
kiwisolver                   
MarkupSafe                   
matplotlib                   
matplotlib-inline            
mistune                      
nbclient                     
nbconvert                    
nbformat                     
nest-asyncio                 
notebook                     
numpy                        
olefile                      
packaging                    
pandas                       
pandocfilters                
parso                        
pickleshare                  
Pillow                       
pip                          
prometheus-client            
prompt-toolkit               
pycparser                    
Pygments                     
pyparsing                  
PyQt5                      
PyQtChart                  
PyQtWebEngine              
pyrsistent                 
pystache                   
python-dateutil            
pytz                 
PyYAML                     
pyzmq                      
scipy                      
Send2Trash                 
setuptools                 
six                        
soupsieve                  
terminado                  
testpath                   
tornado                    
traitlets                  
traittypes                 
wcwidth                    
webencodings               
wheel                      
widgetsnbextension         
wincertstore               
zipp                       
