argon2-cffi 
async-generator==1.10
attrs
backcall
backports.functools-lru-cache
beautifulsoup4
bleach
bqplot
certifi==2020.12.5
cffi
colorama 
decorator 
defusedxml 
entrypoints 
importlib-metadata
ipykernel 
ipython
ipywidgets
jedi
Jinja2
jsonschema
jupyter-client
jupyter-core
jupyterlab-pygments 
jupyterlab-widgets
MarkupSafe
matplotlib-inline 
mistune
nbclient
nbconvert
nbformat
nest-asyncio
notebook
numpy
packaging
pandas
pandocfilters==1.4.2
parso
pickleshare
prometheus-client
prompt-toolkit
pycparser
Pygments
pyparsing==2.4.7
pyrsistent
python-dateutil==2.8.1
pytz
pywin32==300
pywinpty==0.5.7
pyzmq
scipy
Send2Trash==1.5.0
six
soupsieve==2.0.1
terminado
testpath==0.4.4
tornado
traitlets
traittypes
wcwidth
webencodings==0.5.1
widgetsnbextension
wincertstore==0.2
zipp
